<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultBasicHttpBindingConfiguration" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="DefaultNetTCPBindingConfiguration" />
            </netTcpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="DefaultServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="/" httpGetBinding="" />
                    <serviceThrottling />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="DefaultServiceBehavior" name="CalculatorService.Calculator">
                <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="DefaultBasicHttpBindingConfiguration"
                    contract="CalculatorService.ICalculator" />
                <endpoint address="net.tcp://localhost:8081/Calculator" binding="netTcpBinding"
                    bindingConfiguration="DefaultNetTCPBindingConfiguration" name=""
                    contract="CalculatorService.ICalculator" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/Calculator" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>