<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculator" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICalculator" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Calculator/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalculator" contract="ServiceReference1.ICalculator"
                name="BasicHttpBinding_ICalculator" />
            <endpoint address="net.tcp://localhost:8081/Calculator" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICalculator" contract="ServiceReference1.ICalculator"
                name="NetTcpBinding_ICalculator">
                <identity>
                    <userPrincipalName value="LUKAS_DESKTOP\Lukas Panni" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>