<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHTTP" />
            </basicHttpBinding>
            <customBinding>
                <binding name="custom">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="netTCP">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/SoapCalc/basic" binding="basicHttpBinding"
                bindingConfiguration="basicHTTP" contract="ServiceReference1.ICalculator"
                name="basicHTTP" />
            <endpoint address="net.tcp://localhost:8080/SoapCalc" binding="netTcpBinding"
                bindingConfiguration="netTCP" contract="ServiceReference1.ICalculator"
                name="netTCP">
                <identity>
                    <userPrincipalName value="LUKAS_DESKTOP\Lukas Panni" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8082/SoapCalc" binding="customBinding"
                bindingConfiguration="custom" contract="ServiceReference1.ICalculator"
                name="custom" />
        </client>
    </system.serviceModel>
</configuration>