<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <services>
            <service behaviorConfiguration="CalcBehavior" name="SOAPCalcService.Calculator">
                <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="SimpleHttpBinding"
                    name="basicHTTP" contract="SOAPCalcService.ICalculator" />
                <endpoint address="net.tcp://localhost:8080/SoapCalc" binding="netTcpBinding"
                    bindingConfiguration="SimpleNetTcp" name="netTCP" contract="SOAPCalcService.ICalculator" />
                <endpoint address="http://localhost:8082/SoapCalc" binding="customBinding"
                    bindingConfiguration="CustomBinding" name="custom" contract="SOAPCalcService.ICalculator" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8081/SoapCalc" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
              <behavior name="CalcBehavior">
                <serviceMetadata httpGetEnabled="true"/>
                <serviceThrottling />
              </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="SimpleHttpBinding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="SimpleNetTcp" />
            </netTcpBinding>
        </bindings>
    </system.serviceModel>
</configuration>