<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <diagnostics performanceCounters="Default" />
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultBasicHttpBindingConfiguration">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="DefaultServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="/"/>
                    <serviceThrottling />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="DefaultServiceBehavior" name="AuthService.AuthTest">
                <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="DefaultBasicHttpBindingConfiguration"
                    name="http" contract="AuthService.IAuthTest" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/Auth" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>